name: build
on: [ pull_request, push ]

jobs:
  build:
    strategy:
      matrix:
        java: [ 17 ]
        os: [ windows-latest ]

    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'microsoft'

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v3
        with:
          arguments: build

      - name: upload forge
        uses: actions/upload-artifact@v4
        with:
          name: forge
          path: forge/build/libs/candycraftce-*.*.*[0-9].jar
          if-no-files-found: error
          compression-level: 0

      - name: upload fabric
        uses: actions/upload-artifact@v4
        with:
          name: fabric
          path: fabric/build/libs/candycraftce-*.*.*[0-9].jar
          if-no-files-found: error
          compression-level: 0